<ion-content  color="favorite" class="ion-padding">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-card color="light"   >

        <p style="padding-left: 10px; padding-right: 10px; text-align: justify;">• This App was done in accordance with Mobile App Development Course "ELET 434" part of Yanbu Industrial College, under the guidance of Teacher Nasir Ayub.</p>
        <p style="padding-left: 10px; padding-right: 10px; text-align: justify;">• There is no relation between this app and the IT department in Royal Commission Yanbu Colleges &amp; Institutes, And this is considered as an individual work.</p>
        <p style="padding-left: 10px; padding-right: 10px; text-align: justify;">• The app doesn't store or collect any information, and deal with the PeopleSoft server directly.</p>
        <p style="padding-left: 10px; padding-right: 10px; text-align: justify;">• Source Code for this app is available and open-sourced in GitHub.</p>
<p><a href="https://github.com/abdullahomran9/StdPlatform"><img style="display: block; margin-left: auto; margin-right: auto;width:50px;height:50px;" src="\assets\icon\25231.png" alt="" width="50px" /></a></p>

   <ion-row justify-content-center align-items-center>
     <br/>
       <ion-button  (click) ="gotomain()">Back to login </ion-button>
   </ion-row>
  </ion-card>
</ion-row>
</ion-grid>
  </ion-content>